header{
    background: #000;
    color: white;
}
h1{
    font-size: xx-large;
    margin-left: 120px;
    top: 60px;
    font-weight: bold;
    font-style: oblique;
    
}
nav a:hover  {
    color: white;
    gap: 30px;
    color: red;
    border-radius: 10px;
    text-decoration: none;

}
 nav {
    text-decoration: none;
    gap: 30px;
    text-align: end;
       color: white;
       color: red;
       


}
header img{
    width: 50px;
    height: 50px;
}
h2{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-style: oblique;
    
}
.papi{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    margin: 20px;
    border-radius: 15px;
}
.wooy{
    display: flex;
    justify-content: space-between;

}
body{
    margin: 5px;
}
button{
    margin-left: 20%;
    width:800px;
    margin-top: 10px;
    background-color: rgb(228, 6, 6);
    color: white;
    cursor: pointer;
}
.card-img-top{
    width:406px ;
    height:350px ;
}
.input-group{
    width: 900px;

}
.input{
        width: 900px;
display: flex;
justify-content: space-between;

}
.form-floating{
            width: 900px;

}
.koko  a:hover{
     width: 100px;
    height: 100px;
    position: relative;
    
  color: red;
}
.kiki{
    align-items: center;
}